<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/scrolling-nav.css" rel="stylesheet">


  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #7c4199;">
      <div class="container">
        <div class="navbar header">
        <a class="navbar-brand js-scroll-trigger hidden-lg" href="./"><img class="logo" src="/images/apoorva-logo-transparent2.png" alt="My_Logo" no-repeat></a>
        <button  class= "linebar navbar-toggler hidden-sm" data-toggle="collapse" data-target="#navbarResponsive">
            &#9776;
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./#resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./#design">Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://github.com/apoorvayadav?tab=repositories">
                <img class="" src="/images/social/GitHub-Mark-Light-32px.png" alt="My_Logo" no-repeat>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://ca.linkedin.com/in/apoorva-yadav-66b66b82">
                <img class="" src="/images/social/In-White-28px-TM.png" alt="My_Logo" no-repeat>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://www.instagram.com/apooyadav/">
                <img class="" src="/images/social/instagram-logo-white.png" alt="My_Logo" no-repeat>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <div class="wrapper">
      {{{body}}}
    </div>

    <!-- Bootstrap core JavaScript -->

    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <!--<script src="/bower_components/bootstrap/js/transition.js"></script>-->

    <!-- Plugin JavaScript
    <script src="/bower_components/startbootstrap-scrolling-nav-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Custom JavaScript for this theme
    <script src="/bower_components/startbootstrap-scrolling-nav-gh-pages/js/scrolling-nav.js"></script>-->


  </body>

  <!-- Footer -->
  <footer class="py-4" style="background-color: #7c4199;">
    <div class="container">
      <p class="m-0 text-center text-white">Apoorva Yadav 2017</p>
    </div>
    <!-- /.container -->
  </footer>

</html>
