<header>
  <div class="container text-center" >
    <p class="lead"></p>
  </div>
</header>

<div id="resume"  class="bg-light">
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Resume</h2>
        <p>I have developed interpersonal skills, I can maintain cultural sensiti vity, establish rapport with other staff
            members and customers, and promote team cohesiveness. I am a moti vated self-starter with 2 years’
            experience in IT currently pursuing a career in Informati on Technology. I completed the IT Support Services
            program at Conestoga College. My ability and interest in learning and incorporati ng new technology in the
            workplace leads me to believe I am an excellent candidate for a positi on with your company. I possess strong
            writt en and verbal communicati on skills in English, Hindi and Urdu and I am currently learning Korean in my
            spare ti me.</p>
        <div class="row">
          <div class="col">
            <ul>
              <li>Advanced working experience with Windows 7/8.1/10 and Mac OS X</li>
              <li>Knowledge of computer hardware, software and troubleshooting</li>
              <li>Developed websites using HTML, CSS and WordPress</li>
              <li>Worked with Linux Command Line, CentOS, Debian and Android</li>
              <li>Learned and can profi ciently use Git Bash</li>
              <li>Experience working with International Students through Student Life and International office</li>

            <ul>
          </div>
          <div class="col">
            <ul>
              <li>Used and worked with MySQL and Orbis</li>
              <li>Working knowledge of SolidWorks and AutoCAD</li>
              <li>Proficient in English, Hindi and Urdu and Elementary profi ciency in Korean</li>
              <li>Excellent social, leadership, customer service and communication skills</li>
              <li>Ability to work individually and as a part of group and handled different work environment</li>
            <ul>
          </div>
        </div>
        <div class="gitlibrary container text-center center" >
          <p><a class="btn btn-lg btn-primary" href="files/apoorva-yadav-web.pdf"  role="button">Resume</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="design" class="bg-light">
   <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
     <ol class="carousel-indicators">
       <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
     </ol>
     <div class="carousel-inner" role="listbox">
       <div class="carousel-item active" >
         <img  src="images/design/guitar-logo.png" class="img-fluid" alt="First slide" >
       </div>
       <div class="carousel-item" >
         <img src="images/design/uvc-logo.png" class="img-fluid" alt="Second slide" >
       </div>
       <div class="carousel-item" >
         <img src="images/design/part1.png" class="img-fluid" alt="Third slide" >
       </div>

     </div>
     <div class="gitlibrary container text-center center" >
       <p><a class="btn btn-lg btn-primary" href="https://github.com/apoorvayadav/Design" role="button">Design</a></p>
     </div>
     <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
       <span class="sr-only ">Previous</span>
     </a>
     <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
       <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>

   </div>
</div>

<div id="contact">
  <div class="container">
    <h2>Contact us</h2>
    <div class="row">
      <div class="col ">
          <p class="lead">CONTACT INFORMATION</p>
          <p> Apoorva Yadav <br>
            apoorva.dyadav@gmail.com
          </p>
      </div>
    </div>
  </div>
</div>
